*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    text-decoration: none;
    
}